<!DOCTYPE html><html lang="en"><head><title></title>
@entryPointStyles('app')
@entryPointScripts('app')

</head>
<body>
  <br>
@each(relay in relays.filter(relay => relay.connected))
["r", "{{ relay.url }}"], <br>
@end
["r", "wss://relay.damus.io"] <br>
</body>
</html>
