<!DOCTYPE html><html lang="en"><head><title></title>
@entryPointStyles('app')
@entryPointScripts('app')

</head>
<body>
@each(relay in relays.filter(relay => relay.connected))
{{ relay.url }}
@end
</body>
</html>
